@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap');

:root{
    --cor-primaria:bisque;
    --cor-secundaria:#8e5100;
    --cor-terciaria:#000000;

    --fonte-primaria:"Krona One", sans-serif;
    --fonte-secundaria:'Montserrat' sans-serif;
}

*{
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    background-color:var(--cor-primaria);
    color:var(--cor-terciaria);
}
.cabecalho{
    padding: 2% 0% 0% 15%;


}
.cabecalho__menu{
    display: flex;
    gap: 80px;

}
.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    color:#5356FF;
    text-decoration: none;
}



.apresentacao {
    padding: 9% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__titulo{
    
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}
.titulo-destaque {
    color:brown;
}
.apresentacao__conteudo__paragrafo{
    font-size: 1.9rem;
    font-family: var(--fonte-secundaria);
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 24px;
}
.apresentacao__links__link{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-secundaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color:var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
}
.apresentacao__links__link:hover{
    background-color: var(--cor-secundaria);
}
.apresentacao__imagem{
    width: 50%;
}
.rodape{
    padding: 15px;
    background-color: var(--cor-secundaria);
    color:var(--cor-terciaria);
    font-size: 30px;
    display: flex;
    justify-content: center;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
}

@media (max-width: 1200px){

}
    .cabecalho__menu{
        justify-content: center;
    }
    .cabecalho{
        padding: 10%;
    


}
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }